* {
   font-family: 'Press Start 2P', cursive;
}

.grid {
   width: 520px;
   margin: 2% auto;
   display: grid;
   grid-template-columns: 320px 200px;

/* outline: 1px solid red; */
}

.right-column {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.game-board {
   border: solid 2px;
}

.play-button {
   background-color: rgb(19, 128, 9);
   font-size: 16px;
   padding: 15px 30px;
   cursor: pointer;
}

footer {
    position: absolute;    
    width: 60%;
    min-width: 350px;
    margin: 0 15%;
    bottom: 0;        
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Rsschool img {
    height: 4vh;
}
.github {
    color: #b6b6b6;
}
.github a {
    text-decoration: none;
    color: #b6b6b6;
}